.wrapper {
    cursor: pointer;

    a {
        img {
            position: relative;
            margin-top: 85px;
            border: 2px solid #fff;
            cursor: pointer;
            transition: .3s;
            color: #fff;
            z-index: -2;

            &:hover {
                z-index: -3;
            }
        }
    }

    .details {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
        transition: .4s;
        background-color: #ffc800;
        opacity: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 2px solid #fff;
        border-top: none;
    }

    &:hover>.details {
        top: 96%;
        color: #000;
        overflow: hidden;
        opacity: 1;
    }

    &:hover {
        transition: .8s;
        transform: scale(1.4);
        // z-index: -1;
    }
}