.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;

    background-color: #FFC800;
    font-size: 1rem;

    .pointer {
        cursor: pointer;
    }

    a {
        cursor: pointer;
    }

    .collapse {
        .nav-item {
            .dropdown {
                button {
                    max-width: 200px;
                    margin-left: 5px;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    color: #3b3b3b;

                    &:hover {
                        color: #000;
                    }

                    &:focus {
                        outline: none !important;
                    }

                    .bi {
                        font-size: 25px;
                        transition: .3s;
                    }

                    .user {
                        font-size: 15px;
                    }
                }

                .dropdown-menu {
                    .bi {
                        font-size: 20px;
                    }

                    i {
                        margin-right: 8px;
                    }
                }

                .dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}