.bg-header {
    background-color: #FFC800;
    font-size: 1rem;

    .pointer {
        cursor: pointer;
    }
}

.bi {
    font-size: 25px;
    transition: .3s;
}

a {
    cursor: pointer;
}

.dropdown-menu i {
    margin-right: 8px;
}

button {
    max-width: 200px;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #3b3b3b;

    .bi {
        font-size: 30px;
    }

    &:hover {
        color: #000;
    }

    &:focus {
        outline: none !important;
    }
}

.user {
    font-size: 15px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;

    .collapse {
        .nav-item {
            .dropdown {
                .dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}