<p-carousel [value]="moviesService.nowPlaying" [numVisible]="6" [numScroll]="1" [circular]="true"
    [responsiveOptions]="sliderResponsive" [showIndicators]="false">
    <ng-template let-nowPlaying pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center card-hover" (click)="goToDetails(nowPlaying)">
            <div>
                <img src="{{baseUrlImg}}{{nowPlaying.poster_path}}" [alt]="nowPlaying.title"
                    class="w-6 shadow-2 card-img-top" />
                <div class="content-details">
                    <p>ID: {{nowPlaying.id}}</p>
                    <p>{{nowPlaying.title}}</p>
                    <p>{{nowPlaying.release_date}}</p>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>