<p-carousel [value]="moviesService.upcoming" [numVisible]="6" [numScroll]="1" [circular]="true"
    [responsiveOptions]="sliderResponsive" [showIndicators]="false">
    <ng-template let-upcoming pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center card-hover" (click)="goToDetails(upcoming)">
            <div>
                <img src="{{baseUrlImg}}{{upcoming.poster_path}}" [alt]="upcoming.title"
                    class="w-6 shadow-2 card-img-top" />
                <div class="content-details">
                    <p>ID: {{upcoming.id}}</p>
                    <p>{{upcoming.title}}</p>
                    <p>{{upcoming.release_date}}</p>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>