<p-carousel [value]="moviesService.upcoming" [numVisible]="5" [numScroll]="1" [circular]="true"
    [responsiveOptions]="sliderResponsive" [showIndicators]="false">
    <ng-template let-upcoming pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <img src="{{baseUrlImg}}{{upcoming.poster_path}}" [alt]="upcoming.title"
                    class="w-6 shadow-2 card-img-top" (click)="goToDetails(upcoming)" />
            </div>
        </div>
    </ng-template>
</p-carousel>